#textdomain wesnoth-The_Shadow_Returns

[about]
    title= _ "Creator and Lead Designer"
    [entry]
        name="KameRamen"
    [/entry]
[/about]
[about]
    title= _ "Redesign Assistance"
    [entry]
        name="GreenScarab"
        comment="many maps revisions and ideas contributed"
    [/entry]
    [entry]
        name="Roge Tebnelok"
        comment="story ideas and other suggestions"
    [/entry]
[/about]
[about]
    title= _ "Graphics"
    [entry]
        name="Iris Morelle (Irydacea/shadowm)"
        comment="elynia sprites"
    [/entry]
    [entry]
        name="KameRamen"
    [/entry]
    [entry]
        name="Kathrin Polikeit (Kitty)"
    [/entry]
    [entry]
        name="Lukasz Wawrowski (inferno8)"
        comment="terrain graphics from Era of Magic"
    [/entry]
    [entry]
        name="Orcish Shyde"
        comment="necromancer-line recolors"
    [/entry]
[/about]
[about]
    title= _ "Music"
    [entry]
        name="Jeremy Nicoll (jeremy2)"
        comment="snowfall.ogg"
    [/entry]
    [entry]
        name="Murilo Carvalho"
        comment="everlasting_night.ogg"
    [/entry]
[/about]
[about]
    title= _ "Alpha Playtester"
    [entry]
        name="GreenScarab"
    [/entry]
    [entry]
        name="Roge Tebnelok"
    [/entry]
[/about]
[about]
    title= _ "Additional thanks to"
    [entry]
        name="Alexander van Gessel (AI/AI0867)"
    [/entry]
    [entry]
        name="Dimitar Ilccov (Mythological)"
    [/entry]
    [entry]
        name="Iris Morelle (Irydacea/shadowm)"
        comment="revised story drafts"
    [/entry]
    [entry]
        name="Stefan von Halenbach (vonHalenbach)"
    [/entry]

    {CREDITS_SEPARATOR}

    [entry]
        name="Bruno Wolff III"
    [/entry]
    [entry]
        name="pjr"
    [/entry]

    {CREDITS_SEPARATOR}

    [entry]
        name="Eric J. Mesoy (Circon)"
        comment="creator and original designer"
    [/entry]
[/about]
