#textdomain wesnoth-The_Shadow_Returns

[scenario]
    id=02_A_New_Chance
    name= _ "A New Chance"
    {MAP 02_A_New_Chance.map}
    next_scenario=03_Brother_Against_Brother
    {TURNS 38 34 30}

    {DEFAULT_SCHEDULE_DUSK}

    {INTRO_AND_SCENARIO_MUSIC underground.ogg revelation.ogg}
    {EXTRA_SCENARIO_MUSIC knolls.ogg}

    [event]
        name=prestart
        [objectives]
            side=1
            [objective]
                condition=win
                description= _ "Defeat both enemy leaders"
            [/objective]
            {HERODEATHS_OBJECTIVES}

            {TURNS_RUN_OUT}

            [gold_carryover]
                bonus=yes
                carryover_percentage=60
            [/gold_carryover]
        [/objectives]
    [/event]

    {STORYTXT_A_NEW_CHANCE}
    {TSR_TRACK {JOURNEY_02_NEW}}

    {STARTING_VILLAGES 2 2}
    {STARTING_VILLAGES 3 5}

    {PLACE_IMAGE "units/undead-skeletal/deathsquire.png~RC(magenta>red)" 17 17}
    {PLACE_IMAGE items/cage.png 17 17}

    [side]
        type=Initiate
        id="Gwiti Ha'atel"
        name= _ "Gwiti Ha’atel"
        unrenamable=yes
        side=1
        canrecruit=yes
        controller=human
        recruit=Walking Corpse,Ghoul,Vampire Bat,Dark Adept
        {GOLD 140 120 100}
        {INCOME 6 4 2}
        user_team_name= _ "team_name^Gwiti"
        facing=se
        fog=yes
        shroud=yes
        {FLAG_VARIANT undead}
    [/side]

    [side]
        type=Naga Warrior
        id=Xabrak
        name= _ "Xabrak"
        side=2
        canrecruit=yes
        [ai]
            aggression=0.8
            caution=0.2
            grouping=no
        [/ai]
        recruit=Naga Fighter
        {GOLD 40 60 80}
        team_name=enemies
        user_team_name= _ "team_name^Xabrak"
        facing=ne
        {FLAG_VARIANT6 ragged}

        {GENERIC_UNIT 2 (Naga Dirkfang) 8 15}
        {GENERIC_UNIT 2 (Naga Fighter) 10 17}
    [/side]

    [side]
        type=Ogre
        id=Grakarat
        name= _ "Grakarat"
        side=3
        canrecruit=yes
        [ai]
            aggression=0.8
            caution=0.2
            grouping=no
        [/ai]
        recruit=Young Ogre,Troll Whelp
        {GOLD 40 60 80}
        {INCOME 2 4 6}
        team_name=enemies
        user_team_name= _ "team_name^Grakarat"
        facing=sw
        {FLAG_VARIANT6 ragged}

        [unit]
            type=Ogre
            id=Rek Iceheart
            name= _ "Rek Iceheart"
            x,y=26,9
            random_traits=yes
            ai_special=guardian
        [/unit]

        {GENERIC_GUARD_UNIT 3 (Caribe) 18 4}
        {GENERIC_GUARD_UNIT 3 (Caribe) 25 8}

        {GENERIC_UNIT 3 (Young Ogre) 16 10}
        {GENERIC_UNIT 3 (Young Ogre) 17 10}
    [/side]

    {CONTINUOUS_SOUND_SOURCE campfire_gwiti 5 6 (ambient/campfire.ogg)}
    {SOUND_SOURCE_RANGE 2 6}

    {RAIN}

    [event]
        name=prestart

        [kill]
            side=1
            [not]
                canrecruit=yes
            [/not]
        [/kill]

        {BLACK_SCREEN}

        [hide_unit]
            id="Gwiti Ha'atel"
        [/hide_unit]

        {LOCK_VIEW}
    [/event]

    [event]
        name=start

        [place_shroud]
            side=1
        [/place_shroud]

        [message]
            speaker=narrator
            message= _ "A sudden tempest seized the vessel bearing Gwiti and Nati."
            image=misc/blank-hex.png
        [/message]
        [message]
            speaker=narrator
            message= _ "The ship splintered apart."
            image=misc/blank-hex.png
        [/message]
        [message]
            speaker=narrator
            message= _ "Yet the brothers’ tale was not to end there."
            image=misc/blank-hex.png
        [/message]

        [sound]
            name=thunder2.wav
        [/sound]

        [delay]
            time=1000
        [/delay]

        [sound]
            name=wose-die.ogg
        [/sound]

        [delay]
            time=2000
        [/delay]

        [redraw]
            side=1
            clear_shroud=yes
        [/redraw]

        {FADE_IN}

        [delay]
            time=1000
        [/delay]

        [unhide_unit][/unhide_unit]

        [delay]
            time=1500
        [/delay]

        [message]
            speaker="Gwiti Ha'atel"
            message= _ "Do I... still draw breath?"
        [/message]

        {MODIFY_UNIT id="Gwiti Ha'atel" facing nw}
        [delay]
            time=1000
        [/delay]

        {MODIFY_UNIT id="Gwiti Ha'atel" facing se}
        [delay]
            time=1000
        [/delay]

        [message]
            speaker="Gwiti Ha'atel"
            message= _ "I have washed ashore, it seems... but Nati is nowhere to be found."
        [/message]

        [move_unit]
            id="Gwiti Ha'atel"
            to_x=2,2,3,4
            to_y=1,2,3,3
        [/move_unit]
        [redraw]
            side=1
        [/redraw]

        [message]
            speaker="Gwiti Ha'atel"
            message= _ "..."
        [/message]

        [animate_unit]
            [filter]
                id="Gwiti Ha'atel"
            [/filter]
            flag=attack
            hits=yes
            [primary_attack]
                range=ranged
            [/primary_attack]
        [/animate_unit]

        [message]
            speaker="Gwiti Ha'atel"
            message= _ "My shackles lie broken. Perhaps the dark gods have not wholly forsaken me."
        [/message]

        [message]
            speaker=narrator
            caption= _ "Arkal-Thil"
            message= _ "I sense the shadow of darkness within you..."
            image=misc/blank-hex.png
        [/message]

        [message]
            speaker="Gwiti Ha'atel"
            message= _ "Who addresses me?"
        [/message]

        [unit]
            id="Arkal-Thil"
            name= _ "Arkal-Thil"
            type=Dark Adept
            x=6
            y=5
            facing=nw
            side=1
            animate=yes
            [modifications]
                {TRAIT_LOYAL_HERO}
                {TRAIT_DEXTROUS}
            [/modifications]
        [/unit]
        [redraw]
            side=1
        [/redraw]

        [message]
            speaker="Arkal-Thil"
            message= _ "I am a sorcerer, Arkal-Thil by name."
        [/message]
        [message]
            speaker="Gwiti Ha'atel"
            message= _ "You are a necromancer, like myself... are you not?"
        [/message]
        [message]
            speaker="Arkal-Thil"
            message= _ "Indeed. Will you be our salvation? These grounds once served as sanctuary for our cult. But savage beasts descended upon us, devouring most of our number. We lacked the strength to repel them."
        [/message]
        [message]
            speaker="Gwiti Ha'atel"
            message= _ "They await only destruction at my hands. Soon they shall serve me eternally as undying warriors."
        [/message]

        [message]
            speaker="Arkal-Thil"
            message= _ "We are grateful, new master. We pledge ourselves to you. Now is the hour of vengeance and bloodshed!"
        [/message]

        [animate_unit]
            [filter]
                id="Gwiti Ha'atel"
            [/filter]
            flag=attack
            hits=yes
            [primary_attack]
                range=ranged
            [/primary_attack]
        [/animate_unit]

        {GENERIC_UNIT 1 (Skeleton Archer) 3 4} {ANIMATE}
        {GENERIC_UNIT 1 (Skeleton) 4 4} {ANIMATE}

        {CLEAR_FOG 1 7 20 2}
        [remove_shroud]
            [filter_side]
                side=1
            [/filter_side]
            x,y=7,20
            radius=3
        [/remove_shroud]

        {CLEAR_FOG 1 34 6 2}
        [remove_shroud]
            [filter_side]
                side=1
            [/filter_side]
            x,y=34,6
            radius=3
        [/remove_shroud]

        [message]
            speaker=Xabrak
            message= _ "Look there! The necromancer assails us with his skeletal legion! But strange... we thought we had destroyed them all."
        [/message]
        [message]
            speaker=Grakarat
            message= _ "How I relish crushing their bones! Let battle be joined!"
        [/message]

        [place_shroud]
            [filter_side]
                side=1
            [/filter_side]
            x,y=7,20
            radius=3
        [/place_shroud]
        [place_shroud]
            [filter_side]
                side=1
            [/filter_side]
            x,y=34,6
            radius=3
        [/place_shroud]

        {UNCLEAR_FOG}

        {UNLOCK_VIEW}
    [/event]

    [event]
        name=moveto
        [filter]
            side=1
            x,y=17,17
        [/filter]
        [message]
            speaker=unit
            message= _ "Who languishes in this cage?"
        [/message]
        [remove_item]
            x,y=$x1,$y1
        [/remove_item]
        [unit]
            id=Gabtur
            name= _ "Gabtur"
            type=Death Squire
            x=18
            y=16
            facing=se
            side=1
            hitpoints={ON_DIFFICULTY 34 28 22}
            [modifications]
                {TRAIT_LOYAL}
            [/modifications]
        [/unit]
        [redraw]
            side=1
        [/redraw]
        [message]
            speaker="Arkal-Thil"
            message= _ "One of our brothers! They slew him once already!"
            scroll=no
        [/message]
        [message]
            speaker=Gabtur
            message= _ "Danger lurks here... This is the den of the savages who slew me and imprisoned my spirit."
            sound=skeleton-big-hit-2.ogg
        [/message]
        [message]
            speaker="Arkal-Thil"
            message= _ "Gabtur, it is I! We have found a new master. Already most of the beasts lie dead at our feet!"
            scroll=no
        [/message]
        [message]
            speaker="Gwiti Ha'atel"
            message= _ "Join my uprising. I shall grant you power beyond measure."
            scroll=no
        [/message]
    [/event]

    [event]
        name=enemies defeated
        [endlevel]
            result=victory
            bonus=yes
            {NEW_GOLD_CARRYOVER 60}
        [/endlevel]
    [/event]
    [event]
        name=victory
        [fade_out_music]
            duration=750
        [/fade_out_music]

        {MYSTERIOUS_VOICE ( _ "Gwiti — you must not tarry. Your destiny beckons.")}

        [message]
            speaker="Gwiti Ha'atel"
            message= _ "What? Who dares speak to my very thoughts? Reveal yourself!"
            sound=wail-sml.wav
        [/message]

        {MYSTERIOUS_VOICE ( _ "Your brother Nati also treads this land. You must confront him, for only one Ha’atel shall survive this crucible.")}

        [message]
            speaker="Gwiti Ha'atel"
            message= _ "Impossible! I shall not be the one to fall!"
            sound=wail-long.wav
        [/message]

        {CLEAR_VARIABLE Gadash_hunted}
    [/event]

    [event]
        name=attack
        [filter]
            id="Gwiti Ha'atel"
        [/filter]
        [filter_second]
            id=Xabrak
        [/filter_second]
        [message]
            speaker=unit
            message= _ "Death comes for all naga who dare stand in my path!"
        [/message]
    [/event]
    [event]
        name=last breath
        [filter]
            id=Xabrak
        [/filter]
        [message]
            speaker=unit
            message= _ "I am... vanquished..."
        [/message]
    [/event]
    [event]
        name=die
        [filter]
            id=Xabrak
        [/filter]
        [filter_condition]
            [variable]
                name=Gadash_hunted
                boolean_equals=yes
            [/variable]
        [/filter_condition]

        [message]
            speaker="Gwiti Ha'atel"
            message= _ "Who lurks in the shadows?"
            scroll=no
        [/message]
        [unstore_unit]
            variable=Gadash_store
            x,y=$unit.x,$unit.y
            find_vacant=no
        [/unstore_unit]
        {CLEAR_VARIABLE Gadash_store}
        [redraw]
            side=1
        [/redraw]
        [message]
            speaker=Gadash
            message= _ "Master... I return to you."
        [/message]
        [message]
            speaker="Gwiti Ha'atel"
            message= _ "How came you to this place?"
            scroll=no
        [/message]
        [message]
            speaker=Gadash
            message= _ "I followed your final command faithfully."
        [/message]
        [message]
            speaker="Gwiti Ha'atel"
            message= _ "You were scouting far from the battlefield when disaster struck. Is that what you mean to tell me?"
            scroll=no
        [/message]
        [message]
            speaker=Gadash
            message= _ "I sensed your dark power upon this shore. The journey to return to your side was long, but now I stand ready to serve once more."
        [/message]
    [/event]

    {HERODEATHS_EVENTS}
    [event]
        name=time over
        [message]
            speaker="Gwiti Ha'atel"
            message= _ "The Wesnothians have discovered my escape! All is lost..."
        [/message]
    [/event]
[/scenario]
