#textdomain wesnoth-The_Shadow_Returns

[scenario]
    id=05_Mages_and_Elves
    name= _ "Mages and Elves"
    next_scenario=06_Inside_the_Tower
    {MAP 05_Mages_and_Elves.map}
    {TURNS 32 30 28}
    {DEEP_SCHEDULE_DAWN}

    {INTRO_AND_SCENARIO_MUSIC underground.ogg loyalists.ogg}
    {EXTRA_SCENARIO_MUSIC data/campaigns/Eastern_Invasion/music/heavens-remix.ogg}
    {EXTRA_SCENARIO_MUSIC the_dangerous_symphony.ogg}

    [event]
        name=prestart
        [objectives]
            side=1
            [objective]
                condition=win
                description= _ "Move Gwiti to the Tower of Sorcery"
            [/objective]
            [objective]
                {ALTERNATIVE_OBJECTIVE_CAPTION}
                condition=win
                description= _ "Defeat all enemy leaders"
            [/objective]
            {HERODEATHS_OBJECTIVES}

            {TURNS_RUN_OUT}

            [gold_carryover]
                bonus=yes
                carryover_percentage=60
            [/gold_carryover]
        [/objectives]
    [/event]

    {STORYTXT_MAGES_AND_ELVES}
    {TSR_TRACK {JOURNEY_05_NEW}}

    {STARTING_VILLAGES_ALL 2}
    {STARTING_VILLAGES 3 4}
    {STARTING_VILLAGES 4 4}
    {STARTING_VILLAGES 1 6}

    # Is there any other good image?
    {PLACE_IMAGE scenery/trapdoor-closed.png 4 3}

    [side]
        type=Initiate
        id="Gwiti Ha'atel"
        name= _ "Gwiti Ha’atel"
        unrenamable=yes
        side=1
        canrecruit=yes
        controller=human
        {GOLD 220 200 180}
        {INCOME 6 4 2}
        user_team_name= _ "team_name^Gwiti"
        facing=sw
        fog=yes
        {FLAG_VARIANT undead}
    [/side]

    [side]
        type=Great Mage
        id=Quirind
        name= _ "Quirind"
        side=2
        canrecruit=yes
        [ai]
            aggression=0.8
            caution=0.2
            grouping=no
        [/ai]
#ifdef HARD
        recruit="Arch Mage,Red Mage,White Mage,Knight,Paladin,Shock Trooper"
#endif

#ifdef NORMAL
        recruit="Red Mage,White Mage,Mage,Horseman,Knight,Heavy Infantryman,Cavalryman"
#endif

#ifdef EASY
        recruit="Red Mage,Mage,Horseman,Heavy Infantryman,Cavalryman"
#endif

        {GOLD 120 140 200}
        {INCOME 4 8 12}
        team_name=elves
        user_team_name= _ "team_name^Magi"
        facing=se
        {FLAG_VARIANT loyalist}
    [/side]

    [side]
        type=Elvish Marshal
        id=Lessalin
        name= _ "Lessalin"
        side=3
        canrecruit=yes
        [ai]
            aggression=0.8
            caution=0.2
            grouping=no
        [/ai]
#ifdef HARD
        recruit="Elvish Hero,Elvish Captain,Elvish Ranger,Elvish Marksman,Elvish Rider,Elvish Druid,Elvish Sorceress"
#endif

#ifdef NORMAL
        recruit="Elvish Fighter,Elvish Hero,Elvish Archer,Elvish Ranger,Elvish Scout,Elvish Shaman,Elvish Druid,Elvish Sorceress"
#endif

#ifdef EASY
        recruit="Elvish Fighter,Elvish Archer,Elvish Scout,Elvish Shaman"
#endif

        {GOLD 100 120 160}
        {INCOME 2 4 8}
        team_name=elves
        user_team_name= _ "team_name^Elves"
        facing=se
        {FLAG_VARIANT wood-elvish}
    [/side]

    [side]
        type=Elvish Champion
        id=Urind
        name= _ "Urind"
        side=4
        canrecruit=yes
        [ai]
            aggression=0.8
            caution=0.2
            grouping=no
        [/ai]
#ifdef HARD
        recruit="Elvish Hero,Elvish Captain,Elvish Ranger,Elvish Marksman,Elvish Rider,Elvish Druid,Elvish Sorceress"
#endif

#ifdef NORMAL
        recruit="Elvish Fighter,Elvish Hero,Elvish Archer,Elvish Ranger,Elvish Scout,Elvish Shaman,Elvish Druid,Elvish Sorceress"
#endif

#ifdef EASY
        recruit="Elvish Fighter,Elvish Archer,Elvish Scout,Elvish Shaman"
#endif

        {GOLD 80 100 140}
        {INCOME 2 6 10}
        team_name=elves
        user_team_name= _ "team_name^Elves"
        facing=se
        {FLAG_VARIANT wood-elvish}
    [/side]

    {CONTINUOUS_SOUND_SOURCE campfire_gwiti 35 37 (ambient/campfire.ogg)}
    {SOUND_SOURCE_RANGE 2 10}

    {SNOW}

    [event]
        name=prestart

        [recall]
            id="Arkal-Thil"
            x,y=36,37
            facing=nw
        [/recall]

        # Set the initial variable.
        {VARIABLE slain_elven_leaders 0}

        {CLEAR_FOG 1 4 4 3}
        {CLEAR_FOG 1 4 30 3}
        {CLEAR_FOG 1 27 12 3}
    [/event]

    [event]
        name=start
        [message]
            speaker=narrator
            message= _ "Gwiti headed for the Tower of Kaleon, where the greatest magi once studied."
            image=wesnoth-icon.png
        [/message]
        [message]
            speaker="Gwiti Ha'atel"
            message= _ "As long as I remember correctly, the place I see now should be the Tower of Kaleon, charged with the secrets of ancient magi. Soon they shall all be mine, and my power will be great enough to invade Wesnoth."
        [/message]

        {HIGHLIGHT_IMAGE 4 3 scenery/trapdoor-closed.png ()}

        [message]
            speaker=Quirind
            message= _ "A dark sorcerer approaches! Can this be the same one that we banished?"
        [/message]
        [message]
            speaker=Quirind
            message= _ "Accursed and dreadful one, know that we magi, guardians of the Tower of Kaleon, shall bar your way with all our spells! Flee now and you may survive."
            sound={SOUND_LIST:HOLY}
        [/message]
        [message]
            speaker=Lessalin
            message= _ "Quirind, know that all the elves are with you according to an ancient treaty."
        [/message]
        [message]
            speaker=Urind
            message= _ "Foul sorcerer of death, go far from this place or we shall send you to your own realm."
        [/message]
        [message]
            speaker="Gwiti Ha'atel"
            message= _ "You are really fools... For you do not know that from now all of you shall be destroyed."
        [/message]
        [message]
            speaker="Arkal-Thil"
            message= _ "Master, the area is snowing down. We must move as quickly as possible or we will be covered with snow!"
        [/message]
    [/event]

    # This event allows the terrain to change every turn.
    # I referred to the Northern Winter from HttT.
    [event]
        name=new turn
        first_time_only=no
        delayed_variable_substitution=yes

        [random_placement]
            num_items=16
            variable=loc
            allow_less=yes
            [filter_location]
                terrain=Gd,Gd^Es,Gd^Esa,Gd^Efm,Gd^Edb,Gd^Em,Gd^Emf,Gd^Esd,Gd^Fp,Gd^Fdf,Gd^Fmw,Gd^Fdw,Gll,Gll^Es,Gll^Esa,Gll^Efm,Gll^Edb,Gll^Em,Gll^Emf,Gll^Esd,Gll^Fp,Gll^Fdf,Gll^Fmw,Gll^Fdw,Rb,Rb^Es,Rb^Esa,Rb^Efm,Rb^Edb,Rb^Em,Rb^Emf,Rb^Esd,Re,Re^Es,Re^Esa,Re^Efm,Re^Edb,Re^Em,Re^Emf,Re^Esd,Hhd,Hhd^Es,Hhd^Esa,Hhd^Efm,Hhd^Edb,Hhd^Em,Hhd^Emf,Hhd^Esd,Hhd^Fp,Hhd^Fdf,Hhd^Fmw,Hhd^Fdw
            [/filter_location]
            [command]
                [switch]
                    variable=loc.terrain
                    [case]
                        value=Gd
                        {VARIABLE terrain Aa}
                    [/case]
                    [case]
                        value=Gd^Es
                        {VARIABLE terrain Aa^Es}
                    [/case]
                    [case]
                        value=Gd^Esa
                        {VARIABLE terrain Aa^Esa}
                    [/case]
                    [case]
                        value=Gd^Efm
                        {VARIABLE terrain Aa^Efm}
                    [/case]
                    [case]
                        value=Gd^Edb
                        {VARIABLE terrain Aa^Edb}
                    [/case]
                    [case]
                        value=Gd^Em
                        {VARIABLE terrain Aa^Em}
                    [/case]
                    [case]
                        value=Gd^Emf
                        {VARIABLE terrain Aa^Emf}
                    [/case]
                    [case]
                        value=Gd^Esd
                        {VARIABLE terrain Aa^Esd}
                    [/case]
                    [case]
                        value=Gd^Fp
                        {VARIABLE terrain Aa^Fpa}
                    [/case]
                    [case]
                        value=Gd^Fdf
                        {VARIABLE terrain Aa^Fda}
                    [/case]
                    [case]
                        value=Gd^Fmw
                        {VARIABLE terrain Aa^Fma}
                    [/case]
                    [case]
                        value=Gd^Fdw
                        {VARIABLE terrain Aa^Fdw}
                    [/case]
                    [case]
                        value=Gll
                        {VARIABLE terrain Aa}
                    [/case]
                    [case]
                        value=Gll^Es
                        {VARIABLE terrain Aa^Es}
                    [/case]
                    [case]
                        value=Gll^Esa
                        {VARIABLE terrain Aa^Esa}
                    [/case]
                    [case]
                        value=Gll^Efm
                        {VARIABLE terrain Aa^Efm}
                    [/case]
                    [case]
                        value=Gll^Edb
                        {VARIABLE terrain Aa^Edb}
                    [/case]
                    [case]
                        value=Gll^Em
                        {VARIABLE terrain Aa^Em}
                    [/case]
                    [case]
                        value=Gll^Emf
                        {VARIABLE terrain Aa^Emf}
                    [/case]
                    [case]
                        value=Gll^Esd
                        {VARIABLE terrain Aa^Esd}
                    [/case]
                    [case]
                        value=Gll^Fp
                        {VARIABLE terrain Aa^Fpa}
                    [/case]
                    [case]
                        value=Gll^Fdf
                        {VARIABLE terrain Aa^Fda}
                    [/case]
                    [case]
                        value=Gll^Fmw
                        {VARIABLE terrain Aa^Fma}
                    [/case]
                    [case]
                        value=Gll^Fdw
                        {VARIABLE terrain Aa^Fdw}
                    [/case]
                    [case]
                        value=Rb
                        {VARIABLE terrain Aa}
                    [/case]
                    [case]
                        value=Rb^Es
                        {VARIABLE terrain Aa^Es}
                    [/case]
                    [case]
                        value=Rb^Esa
                        {VARIABLE terrain Aa^Esa}
                    [/case]
                    [case]
                        value=Rb^Efm
                        {VARIABLE terrain Aa^Efm}
                    [/case]
                    [case]
                        value=Rb^Edb
                        {VARIABLE terrain Aa^Edb}
                    [/case]
                    [case]
                        value=Rb^Em
                        {VARIABLE terrain Aa^Em}
                    [/case]
                    [case]
                        value=Rb^Emf
                        {VARIABLE terrain Aa^Emf}
                    [/case]
                    [case]
                        value=Rb^Esd
                        {VARIABLE terrain Aa^Esd}
                    [/case]
                    [case]
                        value=Re
                        {VARIABLE terrain Aa}
                    [/case]
                    [case]
                        value=Re^Es
                        {VARIABLE terrain Aa^Es}
                    [/case]
                    [case]
                        value=Re^Esa
                        {VARIABLE terrain Aa^Esa}
                    [/case]
                    [case]
                        value=Re^Efm
                        {VARIABLE terrain Aa^Efm}
                    [/case]
                    [case]
                        value=Re^Edb
                        {VARIABLE terrain Aa^Edb}
                    [/case]
                    [case]
                        value=Re^Em
                        {VARIABLE terrain Aa^Em}
                    [/case]
                    [case]
                        value=Re^Emf
                        {VARIABLE terrain Aa^Emf}
                    [/case]
                    [case]
                        value=Re^Esd
                        {VARIABLE terrain Aa^Esd}
                    [/case]
                    [case]
                        value=Hhd
                        {VARIABLE terrain Ha}
                    [/case]
                    [case]
                        value=Hhd^Es
                        {VARIABLE terrain Ha^Es}
                    [/case]
                    [case]
                        value=Hhd^Esa
                        {VARIABLE terrain Ha^Esa}
                    [/case]
                    [case]
                        value=Hhd^Efm
                        {VARIABLE terrain Ha^Efm}
                    [/case]
                    [case]
                        value=Hhd^Edb
                        {VARIABLE terrain Ha^Edb}
                    [/case]
                    [case]
                        value=Hhd^Em
                        {VARIABLE terrain Ha^Em}
                    [/case]
                    [case]
                        value=Hhd^Emf
                        {VARIABLE terrain Ha^Emf}
                    [/case]
                    [case]
                        value=Hhd^Esd
                        {VARIABLE terrain Ha^Esd}
                    [/case]
                    [case]
                        value=Hhd^Fp
                        {VARIABLE terrain Ha^Fpa}
                    [/case]
                    [case]
                        value=Hhd^Fdf
                        {VARIABLE terrain Ha^Fda}
                    [/case]
                    [case]
                        value=Hhd^Fmw
                        {VARIABLE terrain Ha^Fma}
                    [/case]
                    [case]
                        value=Hhd^Fdw
                        {VARIABLE terrain Ha^Fdw}
                    [/case]
                [/switch]
                [terrain]
                    x,y=$loc.x,$loc.y
                    terrain=$terrain
                [/terrain]
                {CLEAR_VARIABLE terrain}
            [/command]
        [/random_placement]
    [/event]

    [event]
        name=last breath
        [filter]
            id=Quirind
        [/filter]
        [message]
            speaker=unit
            message= _ "Argh! I have fallen, and the Tower lies stripped of its defenses!"
        [/message]
    [/event]

    # Display the message if the leader of the defeated elves is the last one.
    # But only if Quirind is alive.
    [event]
        name=last breath 
        first_time_only=no
        [filter]
            race=elf
            canrecruit=yes
        [/filter]
        [switch]
            variable=slain_elven_leaders
            [case]
                value=1
                [if]
                    [have_unit]
                        id=Quirind
                    [/have_unit]
                    [then]
                        [message]
                            speaker=unit
                            message=_ "Quirind, we have failed! You must guard the Tower."
                        [/message]
                    [/then]
                [/if]
            [/case]
        [/switch]
        {VARIABLE_OP slain_elven_leaders add 1}
    [/event]

    # Either objective can be victorious.
    [event]
        name=moveto
        [filter]
            x,y=4,3
            id="Gwiti Ha'atel"
        [/filter]
        [message]
            speaker=unit
            message= _ "I have gained entry to the Tower!"
        [/message]
        [message]
            speaker=Lessalin
            message= _ "A curse upon that foul dark sorcerer!"
            scroll=no
        [/message]
        [endlevel]
            result=victory
            bonus=yes
            {NEW_GOLD_CARRYOVER 60}
        [/endlevel]
    [/event]
    [event]
        name=enemies defeated
        [message]
            speaker="Gwiti Ha'atel"
            message= _ "The way to the Tower was opened. Move forward!"
        [/message]
        [endlevel]
            result=victory
            bonus=yes
            {NEW_GOLD_CARRYOVER 60}
        [/endlevel]
    [/event]

    # Remove unnecessary variables.
    [event]
        name=victory
        {CLEAR_VARIABLE slain_elven_leaders}
    [/event]

    {HERODEATHS_EVENTS}
    [event]
        name=time over
        {THUNDER ()}

        # The way he laughs seems slightly villainous, but maybe I am imagining...
        [message]
            speaker=Quirind
            message= _ "Ah ha ha ha! The Tower’s protective spells are now in force, you cannot enter without mastering the magic equal to this."
        [/message]
    [/event]
[/scenario]
