# wmllint: no translatables

#define HRS_RECALL_HIGHEST X Y
    [recall]
        level=5
        x,y={X},{Y}
        side=1
    [/recall]
    [if]
        [not]
            [have_unit]
                x,y={X},{Y}
            [/have_unit]
        [/not]
        [then]
            [recall]
                level=4
                x,y={X},{Y}
                side=1
            [/recall]
            
            [if]
                [not]
                    [have_unit]
                        x,y={X},{Y}
                    [/have_unit]
                [/not]
                [then]
                    [recall]
                        level=3
                        x,y={X},{Y}
                        side=1
                    [/recall]
                    
                    [if]
                        [not]
                            [have_unit]
                                x,y={X},{Y}
                            [/have_unit]
                        [/not]
                        [then]
                            [recall]
                                level=2
                                x,y={X},{Y}
                                side=1
                            [/recall]
                            
                            [if]
                                [not]
                                    [have_unit]
                                        x,y={X},{Y}
                                    [/have_unit]
                                [/not]
                                [then]
                                    [recall]
                                        level=1
                                        x,y={X},{Y}
                                        side=1
                                    [/recall]
                                [/then]
                            [/if]
                        [/then]
                    [/if]
                [/then]
            [/if]
        [/then]
    [/if]
#enddef
